.name, .payload, .pickup_address,
.delivery_address, .width,
.length,
.height{
  display: inline-block;
  width: 200px;
  padding: 15px;
  margin: 15px auto;
  border-radius: 5px;
	
  }
.wrapper--trucks{
  
  }
