.name, .payload, .pickup_address,
.delivery_address, .width,
.length,
.height{
  //display: inline-block;
  width: 200px;
  padding: 5px 15px;
  margin: 0 auto;
  border-radius: 5px;
	
  }
.wrapper--cards{
  display: flex;
  flex-direction: column;
  label{
    width: 100%;
    margin: 0;
    padding: 0;
    input{
      width: 80%;
      }
    }
  }
.saveBtn{
  display: inline-block;
  width: 150px;
  margin-top: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  }
