
.wrapper--search{
  display: flex;
  flex-direction: column;
  margin-top: 0 auto;
  width: 80%;
  padding: 25px;
  text-align: center;
  border:2px solid #cecece;
  border-radius: 5px;
  }
.wrapper--title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  .logo {
	width: 150px;
	padding: 5px 15px;
	background: #0000ff;
	text-align: center;
	color: #fff;
	text-decoration: none;
	cursor:pointer;
	border-radius: 5px;
	}
  .title {
	font-size: 24px;
	}
  }
label{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
	
  }
.role{
  text-decoration: none;
  border-color: #ececec;
  }
.email,.password,.role{
  margin-top: 15px;
  padding: 5px 15px;
	
  }
.login{
  display: inline-block;
  width: 200px;
  padding: 15px;
  margin: 15px auto;
  border-radius: 5px;
	
  }
.wrapper--link{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
	
	
  }
img{
  display: inline-block;
  width: 30%;
  }
.main-context{
  display: inline-block;
  width: 70%;
  }
