
body{
   margin: 0;
   padding: 0;
   font-size: 16px;
   color: #000;
   }
 .main{
   display: flex;
   justify-content: center;
   align-items: middle;
   width: 1200px;
   margin: 0 auto;
   padding-top: 100px;
   }
