.wrapper--tricks_card{
  display: flex;
  flex-direction: column;
  margin-top: 0 auto;
  width: 80% ;
  //padding: 25px;
  text-align: center;
  border:2px solid #cecece;
  border-radius: 5px;
  
  }
.wrapper--title, .wrapper--btn {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  .wrapper--tricks_card{
	border: 1px solid #ececec;
	}
  
  }
label{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
	
  }
 
 
.assign, .delete{
  display: inline-block;
  width: 100px;
  padding: 5px 15px;
  margin: 15px auto;
  border-radius: 5px;
	
  }
.wrapper--link{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
	
	
  }
 
.main-context{
  display: inline-block;
  width: 70%;
  }
 
