.wrapper--form{
  width: 80%;
  margin: 0 auto;
  }

.wrapper--body{
  display: flex;
  flex-direction: row;
  //width: 100%;
  padding: 0 25px;
  background: #ececec;
  }
.logo {
  width: 150px;
  padding: 5px 15px;
  background: #0000ff;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor:pointer;
  border-radius: 5px;
  }
