
.user--form_header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 25px 0;
  text-align: center;
  //border:2px solid #cecece;
  background: #e2e2e2;
  border-radius: 5px;
  .logo{
    margin-left: 25px;
    }
  }
.wrapper--right{
  display: flex;
  .wrapper--right_logout{
    padding: 5px 15px;
    text-decoration: none;
    }
  .wrapper--right_name{
    padding: 5px 15px;
    
    }
  }
