.wrapper--side_bar{
  background: #ececec;
  
  width: 35%;
  margin-top: 50px;
  .wrapper--side_bar_nav{
    display: flex;
    flex-direction: column;
    }
  }
.d-flex{
  padding-left: 30px;
  }
.btn-search{
  text-decoration: none;
  background: none;
  }
.wrapper--side_bar_nav{
  ul{
    display: flex;
    flex-direction: column;
  
    li{
      padding: 5px 15px;
      list-style: none;
        a{
          padding: 5px 15px;
          text-decoration: none;
          //color: #000;
          font-weight: bold;
          -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
          }
      }
    }
  }
.active{
  background-color: #0000ff;
  color: #fff;
  }
 
